Thumbs.db
*ReSharper*
*DotSettings*
*.suo
*.sln.docstates
obj
*.user

/Releases/*.exe
/Releases/*.ini

/Output/Debug/*
/Output/Release/*

/Output/Release/User Files/*
/Output/Release/User Files/Libraries/*
/Output/Release/User Files/Strategies/*
/Output/Release/User Files/System/*

/Output/Debug/User Files/*
/Output/Debug/User Files/Libraries/*
/Output/Debug/User Files/Strategies/*
/Output/Debug/User Files/System/*